/ {
	chosen {
		zephyr,console = &cdc_acm_uart;
        zephyr,shell-uart = &cdc_acm_uart;
	};
};

&pll {
	div-q = <6>;
};

&clk_hsi48 {
    status = "okay";
};

&zephyr_udc0 {
	cdc_acm_uart: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&spi1 {
    status = "okay";
    cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;

	sdhc0: sdhc@0 {
                compatible = "zephyr,sdhc-spi-slot";
                reg = <0>;
                status = "okay";
                mmc {
                    compatible = "zephyr,sdmmc-disk";
                    disk-name = "SD_SPI";
                    status = "okay";
                };
                spi-max-frequency = <24000000>;
        };
};

&spi3 {
    status = "okay";
    pinctrl-0 = <&spi3_sck_pb3 &spi3_miso_pb4 &spi3_mosi_pb5>;
    pinctrl-names = "default";
    cs-gpios = <&gpiob 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

    spiflash: spiflash@0 {
        compatible = "jedec,spi-nor";
        status = "okay";
        reg = <0>;
        label = "W25Q128";
        spi-max-frequency = <1000000U>;
        jedec-id = [ef 40 18];
        size = <0x1000000>;
        /* Optionally, set the deep power down mode */
        // has-dpd;
        // t-enter-dpd = <10000>;
        // t-exit-dpd = <35000>;
    };
};

&spiflash {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        lfs_partition: partition@0 {
            label = "storage_spi_flash";
            reg = <0x00000000 0x01000000>;  // 16MB
        };
    };
};
